.noScrollPage{
    height: 92vh;
}

.ML_4_MB_1{
    margin-left: 4em;
    margin-bottom: 1em;
}

.admin{
    text-align: left;    
}

.checkSize{
    height : 28px;
    width :28px;    
}

.adminMovieList{    
    width : 43.3vh;
    display : inline-block;    
}

.adminMovieBox{
    background: linear-gradient(135deg, #9400ea 15%,#23003a 100%);   
    margin : 1em;                          
}

.btnBox{
    margin : 0.5em;    
}



.adminMovieList:hover div {     
color: yellow;
text-shadow: 0 0 .1em, 0 0 .15em; 
  }

.adminMovieText{
    display : inline-block;
    margin : 0.3em;
    color : white ;
    width : 26.9em;
}
  
