.adminHeader{    
  background-color: rgb(33, 37, 41);
  z-index: 2; /*header 항상 위로 보이게*/
  position : fixed;
  top : 0;
  left : 0;
  right : 0;  
  height : 8vh
}

.adminSearch{
  text-align: right;
  margin-top: 10px;
  margin-right: 30px;
}

.adminLogout{
  margin-right: 30px;
  
}

.headerItem{
  position: relative;
  top : 0;
  left : 0;
  right : 0;
  height: 5%;
}
