.movieBookingBoard_container5040{    
    width: 100%;
    margin-top: 30px;

}

.movieBookingBoard_title{
    font-size: 40px;
    display: flex;
    flex-direction: flex-start;
    margin-left:200px;
    margin-bottom: 100px;
}
.movieBookingBoard_container_sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.movieBookingBoard_container_sub2{

    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    width: 1070px;
    height: fit-content;
    margin: 50px auto;
}
.bookingBoard_container_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    width: 400px;
    height: 360px;
    margin: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0px 0px 20px 0px;
    color: rgb(53, 51, 51);
}

.bookingBoard_container{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 200px;
    height: 360px;
    margin: 30px 60px 0px 60px;
    padding: 0px 0px 20px 0px;
    color: rgb(53, 51, 51);
}
.bookingBoard_contentbox2{
    display: flex;
    width: 200px;
    display: flex;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 35px;

}
.bookingBoard_content1{
    text-align: left
}
.bookingBoard_content2{
    margin-left: 20px;
    text-align: left;
    color: rgb(94, 94, 90);
}

.bookingButton_movie{
    display: flex;
    align-self:end;
    margin-top:0px;
    border: 0.01rem solid;
}
.leastBooking{
    font-size: 20px;
}
.bookingButton_movie2{
    border: 0px none;
    display: flex;
   align-self: flex-end;
}