<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.Kakaopay.KakaoPayReadyMapper">

    <resultMap id="readyMap" type="com.example.demo.VO.Kakaopay.KakaoPayReadyVO">
        <result property="partner_order_id" column="partner_order_id"></result>
    </resultMap>

    <select id="getReady" resultType="com.example.demo.VO.Kakaopay.KakaoPayReadyVO">
        Select * FROM pay_ready
        WHERE basket_id=#{ready.Basket_id}
        order by partner_order_id
                desc limit 1;
    </select>
    <insert id="addReady" >
        insert into pay_ready (
            basket_id,
            partner_user_id,
            item_name,
            quantity,
            total_amount)
        values (#{ready.basket_id},
                #{ready.partner_user_id},
                #{ready.item_name},
                #{ready.quantity},
                #{ready.total_amount});
    </insert>
    <update id="updateReady">
        UPDATE pay_ready
        SET  tid = #{tid},
             created_at = #{created_at}
        WHERE partner_order_id = #{partner_order_id};
    </update>


    <select id="getTid" resultType="String">
        select tid from pay_ready where partner_order_id = #{partner_order_id};
    </select>
    <select id="getItem" resultType="String">
        select item_name from pay_ready where partner_order_id = #{partner_order_id};
    </select>
    <select id="getQuantity" resultType="String">
        select quantity from pay_ready where partner_order_id = #{partner_order_id};
    </select>
    <select id="getAmount" resultType="String">
        select total_amount from pay_ready where partner_order_id = #{partner_order_id};
    </select>
    <select id="getUserId" resultType="String">
        select partner_user_id from pay_ready where partner_order_id = #{partner_order_id};
    </select>

    <select id="getBasketId" resultType="String">
        select basket_id from pay_ready where partner_order_id = #{partner_order_id};
    </select>




</mapper>