.detailInfo{
    display: inline-block;
    color: pink;  
    margin-left: 1.2em;
}

.cardText {
  background-color: #2b2525;
  color: white;
}

.cardCinema{
  width: 25rem;
  display: inline-block;
  margin : 1em;
  padding : 1em 
}

.cardCinema div{  
  transition: all 0.2s linear;	
}


.cardCinema:hover #card{
    background: linear-gradient(135deg, #5aea00 15%,#123a00 100%);   
    color: black;
    transform:scale(1.125);    
}
  
.detailMap{
  width: 28rem;
  display: inline-block;
  margin : 1em;
  padding : 1em;
  border : 2px solid #5aea00;
  box-shadow : 0 0 3em, 0 0 .13em;
  border-radius: 15px;
}