.toast-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  /* icon 속성 */
  background-color: rgba(171, 228, 215, 0.897);
  background-image: url('/src/user/basket/icons/bell.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 10%;

  border: 1px solid rgb(236, 227, 224);
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  width: 400px;
  height: 500px;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.toast-alert img {
  width: 55px;
  height: auto;
  margin-right: 10px;
}

.toast-alert p {
  margin: 0;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-300%);
  }
}

.openAnimation {
  animation: slideIn 0.5s ease-in-out 0s 1 normal forwards;
}

.closeAnimation {
  animation: slideOut 0.5s ease-in-out 0s 1 normal forwards;
}