<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.LanguageMapper">


    <resultMap id="languageMap" type = "com.example.demo.Language">
        <result property="id" column ="language_id"/>
    </resultMap>

    <select id="getAll"  resultMap="languageMap" resultType = "map">
        SELECT * FROM language
    </select>

    <select id="getId" resultMap="languageMap" resultType="com.example.demo.Language">
        Select * FROM language WHERE language_id=#{id}
    </select>

    <insert id = "insertTest">
        INSERT INTO language(name,last_update) VALUES (#{language.name} ,CURRENT_TIMESTAMP())
    </insert>

    <delete id = "deleteTest">
        DELETE FROM language WHERE language_id = #{id}
    </delete>

    <update id = "updateTest">
        UPDATE language SET name=#{language.name}, last_update=CURRENT_TIMESTAMP() WHERE language_id=#{id}
    </update>

</mapper>