.tableCustom{    
    margin: auto;
    width: 130vh;  
    margin-bottom: 2em;  
}

.MCTitleAdmin{
    margin-top: 1em;
    margin-bottom: 2em;
    color: rgb(1, 243, 42);;
    margin-left: 2em;

}
.adminThRow th{
    color : rgb(1, 243, 42);
}

.tbRow td{
    width: auto;  
}
.tbRow #td2{
    width: 10em;
  }

.diThRow th{
    color : pink;    
}

.admin{
    text-align: left;
}
