<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.CinemaMapper">

    <select id="getAllCinema"  resultType = "map">
        SELECT * FROM cinema
    </select>

    <select id="getIdCinema" resultType="com.example.demo.VO.Cinema">
        Select * FROM cinema WHERE id=#{id}
    </select>

    <insert id = "insertCinema">
        INSERT INTO cinema(cinema_name, total_seat,lat,lng,star)
        VALUES (#{cinema.cinema_name},#{cinema.total_seat},#{cinema.lat},#{cinema.lng},#{cinema.star})
    </insert>

    <delete id = "deleteCinema">
        DELETE FROM cinema WHERE id = #{id}
    </delete>

    <update id = "updateCinema">
        UPDATE cinema SET
                          cinema_name=#{cinema.cinema_name},
                          total_seat=#{cinema.total_seat},
                          lat=#{cinema.lat},
                          lng=#{cinema.lng},
                          star=#{cinema.star}
        WHERE id=#{id}
    </update>

    <select id="searchCinema"  resultType="map">
        SELECT * FROM cinema where cinema_name like #{searchData}
    </select>

</mapper>