<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.ThunderInsertImagesMapper">

    <select id="getAll"  resultType = "map">
        SELECT * FROM thunderinsert_images
    </select>

    <insert id = "insertImages">
        INSERT INTO thunderinsert_images(url) VALUES (#{images.url}),
    </insert>

    <delete id = "deleteImages">
        DELETE FROM thunderinsert_images WHERE id = #{id}
    </delete>

<!--    <select id="getIdMovie" resultType="com.example.demo.VO.Movie">-->
<!--        Select * FROM movie WHERE movieId=#{id}-->
<!--    </select>-->

<!--    <select id="getStill1" resultType="string">-->
<!--        Select SUBSTRING_INDEX(stillUrl,",",1) FROM movie WHERE movieId=#{id}-->
<!--    </select>-->

<!--    <select id="getStill2" resultType="string">-->
<!--        Select SUBSTRING_INDEX(SUBSTRING_INDEX(stillUrl,",",2),',',-1) FROM movie WHERE movieId=#{id}-->
<!--    </select>-->

<!--    <select id="getStill3" resultType="string">-->
<!--        Select SUBSTRING_INDEX(SUBSTRING_INDEX(stillUrl,",",3),',',-1) FROM movie WHERE movieId=#{id}-->
<!--    </select>-->



<!--    <update id = "updateMovie">-->
<!--        UPDATE movie SET-->
<!--            title=#{movie.title},-->
<!--            directorNm=#{movie.directorNm},-->
<!--            actorNm=#{movie.actorNm},-->
<!--            genre=#{movie.genre},-->
<!--            runtime=#{movie.runtime},-->
<!--            repRlsDate=#{movie.repRlsDate},-->
<!--            rating=#{movie.rating},-->
<!--            posterUrl=#{movie.posterUrl},-->
<!--            plot=#{movie.plot},-->
<!--            star=#{movie.star},-->
<!--            audiAcc=#{movie.audiAcc},-->
<!--            stillUrl=#{movie.stillUrl},-->
<!--            country=#{movie.country},-->
<!--            audioUrl=#{movie.audioUrl}-->
<!--            WHERE movieId=#{id}-->
<!--    </update>-->

<!--    <select id="searchMovie"  resultType="map">-->
<!--		SELECT * FROM movie where (title like #{searchData}) or (actorNm like #{searchData}) or (directorNm like #{searchData}) or (plot like #{searchData}) or (genre like #{searchData})-->
<!--	</select>-->


</mapper>